.list {
    list-style: none;
    height: 240px;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.list__description {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.list__line {
    height: 1px;
    width: 100%;
    background: black;
}