.device {
    background-image: url("city-iot.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    grid-area: main;
    padding: 1%;
}

.device__container {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-areas: "list details"
                        "chart location";
    grid-gap: 5px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    background: rgba(255, 255, 255, 0.8);
    overflow: hidden;
}

.device__elem {
    background: rgba(255, 255, 255, 0.4);
    padding: 5px;
    box-shadow: var(--shadow);
}

.device__list {
    grid-area: list;
}

.device__list h3 {
    display: inline-block;
}

.device__details {
    grid-area: details;
}

.device__charts {
    grid-area: chart;
}

.device__location {
    grid-area: location;
}

.device__map-container {
    height: 80%;
    width: 100%;
}

.device__button {
    position: relative;
    left: 60%;
    outline: none;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 22px;
    width: 40px;
    height: 40px;
    text-align: center;
    box-shadow: var(--shadow);
    background: var(--agree-button-color);
}

.device__popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.device__form {
    padding: 3%;
    background: white;
    width: 50vw;
    height: 50vh;
}

.device__form p {
    margin: 20px 0;
}

.form__button {
    cursor: pointer;
    outline: none;
    background: var(--agree-button-color);
    color: white;
    width: 100%;
    height: 2rem;
    border: 1px black solid;
    box-shadow: var(--shadow);

}

@media (max-width: 732px) {

    .device__container {
        display: grid;
        grid-template-areas: "list"
                            "details"
                            "chart"
                         "location";
        grid-gap: 5px;
        grid-template-columns: 100%;
        overflow: auto;
    }
}