.authPage {
    grid-area: main;
    background: var(--main-theme);
}

.authPage__container {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1px 1fr;
    width: 60%;
    height: 85%;
    margin: 3% auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;

}

.authPage__signup {
    grid-column: 1;
}

.authPage__signin {
    grid-column: 3;
}

.authPage__formContainer {
    grid-row: span 1;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authPage__divider {
    background: black;
    grid-column: 2;
    height: 100%;
}

