.registration-page {
    grid-area: main;
    background: var(--main-theme);
}

.registration-page__container {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    width: 90%;
    height: 90%;
    margin: 5% auto;
    border-radius: 10px;
    padding: 5%;

}

.registration-page__container:after {
    content: '';
    background: rgba(0, 0, 0, 0.6);
}


.registration-page__title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}